<div class="sign-in-form t-padding-full mdc-theme--surface">
  <div class="mdc-card mdc-elevation--z0">
    <form id="reset-password-form" method="POST" class="reset-password-form mdc-theme--surface">
      <div class="mdc-typography--headline5">
        Reset password
      </div>
      <div class="mdc-typography--body1 v-margin b-padding">
        Please enter your Third Force News account email address and you will be sent a link that allows you to set a new password.
      </div>
      <div class="mdc-card__info x-padding-full v-margin border rounded mdc-theme--error-light-bg mdc-theme--error-dark mdc-theme--error-border" id="reset-password-message">
        <span id="form-message"></span>
      </div>
      <div class="mdc-card__info">
        <div class="mdc-typography--body1" id="form-section-email">
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
            <input type="email" id="reset-password-email" class="mdc-text-field__input mdc-text-field--fullwidth"  value="{{@root.request.params.query.email}}" />
            <label class="mdc-floating-label" for="sign-in-email">
              Email
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
        <div id="form-section-sign-in-buttons">
          <button class="mdc-button mdc-button--raised" type="submit" id="reset-password-submit">
            Reset password
          </button>
          <div class="mdc-typography--body1 v-margin-full">
            Don't have a Third Force News account? <a href="/sign-up">Sign up</a>
          </div>
        </div>
        <div class="card-loader" id="reset-password-loader">
          <div class="card-loader-inner">
            <span class="far fa-2x fa-circle-notch fa-spin"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var $form = $('#reset-password-form');
  var $message = $('#reset-password-message');
  var $email = $('#reset-password-email');
  var $login = $('#reset-password-submit');
  var $loader = $('#reset-password-loader');

  $form.on('submit', function(evt) {
    var email = $email.val();
    $loader.css('display', 'flex');
    evt.preventDefault();
    thirdforcenews.auth.sendPasswordReset(email).then(function() {
      $message.text('If there is an account associated with this email address, instructions on resetting your password have been sent there.').show();
      $loader.css('display', 'none');
    }).catch(function(err) {
      $message.text(err.message).show();
      $loader.css('display', 'none');
    });
  });
});
</script>