<div class="container-content thirdforcenews-page t-padding container-centred">
  <div class="b-padding-full b-margin-full">
    <h1 class="mdc-typography--headline4">
      Privacy policy
    </h1>
    <h3>Who we are</h3>
    <p>
      Third Force News is operated by the Scottish Council for Voluntary Organisations (SCVO). SCVO is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland SC003558. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
    </p>
    <p>
      We are committed to respecting and protecting your privacy. This policy explains how we do this. Please also read the terms and conditions for Third Force News.
    </p>
    <p>
      If you follow a link from Third Force News that takes you to another website that is not owned or operated by SCVO, these websites will have their own privacy policies. Please make sure you read these too.
    </p>
    <h3>What information do we collect?</h3>
    <p>
      When you register to use Third Force News or sign up to receive emails from Third Force News, we collect your <strong>name, email address, organisation name and postcode</strong>.
    </p>
    <p>
      When you use Third Force News we may also record your <strong>IP address</strong>: this is the individual identification number that is assigned to your computer when it is connected to the Internet. It is required to be used by our EU-based servers to enable you to browse the website. It is also stored for up to a month in logs to enable us to investigate errors.
    </p>
    <p>
      We use Google Analytics cookies to track how the website is used, but personal data is not recorded and your internet (IP) address is anonymised. <a href="/cookies">Find out more about how we use cookies</a>.
    </p>
    <p>
      If you contact us, we may keep a record of that. You can read the full <a href="https://scvo.org/privacy/enquiries">SCVO enquiry privacy notice</a>.
    </p>
    <h3>How will we use the information?</h3>
    <p>
      We collect limited information about you on Third Force News. The information we collect is used in two ways:
    </p>
    <ul>
      <li>to help us administer the website – so we can give you access as a registered user and so we can analyse how the website is used</li>
      <li>to help you use the website – to give you access as a registered user, to allow us to send you emails (if you have registered for them)</li>
    </ul>
    <p>
      We will not share any personal data with any third parties unless you ask us to do so or we have asked for your consent in advance.
    </p>
    <h3>How to contact us</h3>
    <p>
      You can write to us at the address above or contact us by email or phone at:
    </p>
    <ul>
      <li><a href="mailto:tfn@scvo.org.uk">tfn@scvo.org.uk</a></li>
      <li>0800 169 0022</li>
    </ul>
    <h3>Your rights over your information</h3>
    <p>
      You can unsubscribe from the Third Force News email bulletin at any time by using the unsubscribe link at the bottom of the bulletin, by unchecking the box in User/My Account or by contacting us.
    </p>
    <p>
      If you no longer wish to be registered on Third Force News, you can contact us at any time to be removed.
    </p>
    <p>
      By law, you can ask us what information we hold about you, and you can ask us to correct it if it is inaccurate.  You can also ask us to give you a copy of the information and to stop using your information.
    </p>
    <p>
      To submit a request for your data, please contact us by email, post or telephone, please use the contact information provided above.
    </p>
    <h3>Your right to complain</h3>
    <p>
      If you have a complaint about our use of your information, you can contact the Information Commissioner's Office online at <a href="https://ico.org.uk/concerns">https://ico.org.uk/concerns</a> or by phone on 0303 123 1113.
    </p>
  </div>
</div>