<div class="container-content thirdforcenews-page t-padding container-centred">
  <div class="b-padding-full b-margin-full">
    <h1 class="mdc-typography--headline4">
      Terms & conditions
    </h1>
    <h3>Copyright</h3>

    <p>This website is protected by copyright. All material on the website belongs to SCVO or to third parties who have contributed material to the site. Please note that material accessed through a link to any third party website will be protected by the terms and conditions of that third party site. Permission is given for the downloading and temporary storage of one or more of the pages of the website for the purpose of viewing on a personal computer or monitor. The reproduction, permanent storage, or re-transmission of the contents of this website is permitted for your personal, non-commercial use provided that you acknowledge the copyright owner.</p>

    <p>For permission to reproduce any of the contents of this website for any other purpose please contact <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>.</p>

    <h3>Links</h3>

    <p>Any links to third party websites are provided solely for the purpose of your convenience. We have no control over the content of such websites and accordingly make no representation concerning the content of those sites to you nor make any endorsement of any of them. We have not tested any content, software features or links found on any sites linked to and do not give any representation regarding the quality, safety, suitability or reliability of any of them or any of the material contained in them. Please also note that the right to reproduce any contents of these websites may also be restricted by the terms and conditions of the website.</p>

    <p>Links to websites outwith the SCVO portfolio are denoted with an icon: <i class="fal fa-external-link"> </i></p>

    <h3>Disclaimer</h3>

    <p>Please note that telephone and other connection charges may apply to your use of this website. For details of such charges you should contact your telephone company and internet service provider.</p>

    <p>It is a feature of this website that much of the information is contributed by many different third parties and SCVO does not control those parties or their information and has no responsibility for any information they contribute.</p>

    <p>Opinions expressed within the information contained in this website are those of the authors and do not necessarily represent the opinion of SCVO.</p>

    <p>The website is not guaranteed to be free from any so-called computer viruses and it is strongly recommended that you check for such viruses before down-loading it to your computer equipment.</p>

    <p>The information and other contents of this website are designed to comply with Scots Law. This website shall be governed by and construed in accordance with Scots Law and all parties irrevocably submit to the jurisdiction of the Scottish Courts. If anything on this website is construed as being contrary to the laws applicable in any other country, then this website is not intended to be accessed by persons from that country. Any persons who are subject to such laws shall not be entitled to use this website unless they can satisfy us that such use would be lawful.</p>

    <h3>About use of Content on this Site</h3>

    <p>All material on the Site or made available via the Site and all material made available to you via e-mail (referred to in these Terms and Conditions as the “Content”) belongs to us or to third parties who have allowed us to use and display their material. You may retrieve and display Content from the Site on a computer screen, print individual pages on paper and store such pages in electronic form on disk (but not on any server or other storage device connected to a network) for your personal, non-commercial use provided that you acknowledge the copyright owner. Except as expressly set out above, you may not reproduce, modify or in any way commercially exploit any of the Content. In particular, please contact us at <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a> to obtain our consent first if you wish to:</p>

    <ul><li>redistribute any of the Content (including by using it as part of any library, archive or similar service);</li><li>remove the copyright notice from any copies of Content made under these Terms and Conditions; or</li><li>create a database in electronic or structured manual form by systematically downloading and storing all or any of the Content.</li></ul>

    <p>It is a feature of the Site that much of the Content is contributed to us by many different third parties and we do not control those parties or their information and have no responsibility for any information they contribute. Opinions expressed within the Content are those of the authors and do not necessarily represent our opinions.</p>

    <p>From time to time the Site provides “comments”&nbsp; facilities whereby you may post information and other text about issues or other matters. We reserve the right to review these from time to time and delete any messages or text which we, in our sole discretion, decide are inappropriate. You hereby grant us the right to use and display any material which you post to or publish on the Site via the bulletin boards or chat facilities. In the unlikely event that you find any inaccurate information on the Site or have any complaint about what we have published please email <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>. We will investigate on receipt and take such action which we, in our opinion, is deemed necessary.</p>

    <p>If you would like to link to the Site please contact <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>.</p>

    <h3>About Our Liability to You</h3>

    <p>The Content is only for your general information and use and is not intended to address your particular requirements. In particular, the Content does not constitute any form of advice, recommendation or arrangement by us and is not intended to be relied upon by users in making (or refraining from making) any decisions.</p>

    <p>The Site contains links to other World Wide Web sites provided by independent third parties (referred to in these Terms and Conditions as “Third Party Sites”), either directly or through frames (i.e. material which is taken from a third party site but which is shown as though it is part of the scvo.org Site). Where possible, we will make clear where such links are being made. We are not responsible for the availability or content of Third Party Sites and will not be a party to, or in any way be responsible for, any transaction concerning goods or services available from such Third Party Sites. Due to the number of sources from which we obtain Content and the nature of electronic distribution via the Internet, we do not give any warranties or make any representations in respect of the Site Services. In particular, the Site Services are provided on an “as is”, “with all faults” and “as available” basis. So far as lawfully possible, we exclude all liability to you in contract or delict (negligence) (other than where negligence by us gives rise to personal injury or death) including without limitation: (i) any implied conditions regarding the satisfactory quality or fitness for a particular purpose of the Site Services; (ii) any express or statutory conditions relating to the Site Services; and (iii) any conditions or duties regarding accuracy, timeliness, completeness or performance of the Site Services.</p>

    <p>Additionally, we make no representation that the Site Services are free from infection by viruses or anything else that has contaminating or destructive properties. Other than as specified in this paragraph entitled “About our liability to you”, we shall not be liable to pay any money to you by way of compensation for any loss suffered by you as a result of use of the Site Services and/or the Site including by way of example any loss of profits, loss of goodwill, or loss of anticipated savings.</p>

    <h3>About Our Privacy Policy</h3>

    <p>We take the privacy of our users seriously and are committed to safeguarding their privacy. The&nbsp;<a href="/privacy" target="_self" rel="noopener noreferrer">privacy policy</a> explains our data processing practices and only applies to this website.</p>

    <p>The information that you provide to us about yourself will only be used by us in accordance with our&nbsp;<a href="/privacy" target="_self" rel="noopener noreferrer">privacy policy</a>, that is described in full at the end of these Terms and Conditions. This includes:- (i) using your information for the effective administration of the Site and to communicate with you; (ii) the disclosure of your information to any voluntary organisation to which you make a donation using the Site; (iii) the disclosure of your information on the Site and to third parties where required as part of the Site Services; and (iv) the disclosure of your information to third parties with whom we have a business relationship.</p>

    <p>We employ encryption technology in all areas of the site which require you to provide your personal or account information. This is done to help protect you from unauthorised use of the information you are submitting to our website.</p>

    <h3>About Changes to These Terms &amp; Conditions</h3>

    <p>We reserve the right to make changes to any part of the Site. Due to our policy of updating and improving the Site, we may wish to change these Terms and Conditions (including those relating to your use of Content). When the Terms and Conditions are changed, we will notify you by e-mail or by publishing details of those changes by including them at the end of these Terms and Conditions (see “Updates to these Terms and Conditions”). Your acceptance of any changes to these Terms and Conditions is made by your using the Site after we have published or notified you of the changes. If you do not accept the changes, you should not use the Site any further after the changes have been published at the end of these Terms and Conditions or after you receive notice of changes to the Terms and Conditions.</p>

    <h3>About Termination of Your Registration</h3>

    <p>If you breach any term of these Terms and Conditions or if we are unable to verify or authenticate any information you submit to the Site, we reserve the right to delete any information provided by you to the Site and immediately terminate your registration or ability to access the Site and/or any other service provided by us to you. On termination you will stop using the Site Services made available to you as a registered user.</p>

    <h3>About the Law Relating to These Terms &amp; Conditions</h3>

    <p>We are situated in Scotland and the law of Scotland shall govern any interpretation of these Terms and Conditions. The Scottish Courts shall decide any disputes between us.</p>

    <h3>Information Collected and use of Cookies</h3>

    <p>We collect personal information from you through the use of enquiry and registration forms. We also collect information automatically about your visit to our site. The information obtained in this way, which includes demographic data and appraising patterns, is only used in aggregate form. Cookies are small files that your Web browser places on your computer’s hard drive. They can be used for remembering user names and preferences, tracking click streams and for presenting members with personalised versions of the site. You have the option of setting your browser to reject cookies. More information on the use of Cookies can be found in our&nbsp;<a href="/privacy" target="_self" rel="noopener noreferrer">privacy policy</a>.</p>

    <h3>Use of Personal Information and Disclosures</h3>

    <p>We process personal information collected for the purposes of (a) processing your orders; (b) keeping you updated on your orders; (c) keeping you updated about events, issues and news relating to voluntary organisations; and (d) providing you with information about products and services on offer. We may disclose your information to our agents and other service providers for the purposes of providing you with the benefits of membership of SCVO and only for such purposes. In order to serve you most efficiently, credit card transactions and order fulfilment are handled by reputable third party banking and distribution institutions. They receive the information needed to verify and authorise your credit card and to process your order. They are under strict obligations to keep your personal information private.</p>

    <p>We also use information in aggregate form (so that no individual user is identified): (a) to build up marketing profiles; (b) to aid strategic development; (c) to manage our relationship with advertisers; (d) to audit usage of the site; (e) for market research; and (f) to provide services alongside third parties.</p>

    <h3>Communications</h3>

    <p>To keep you informed about our latest offers news and events, we may notify you through one of our e-mail newsletters or by mail of current issues, events, promotions and new additions to our website. If you do not wish to receive such communications please contact <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>, third parties with whom we have shared your information in accordance with “Use of Personal Information” above may contact you by mail, telephone, e-mail or fax to tell you about promotions or services which may be of interest to you or give you information about forthcoming events, promotions or other activities. Such third parties shall only contact you where you have provided consent when registering with scvo.org.uk or subsequently. If at any time you wish to withdraw your consent for third parties to contact you please send your notification to <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>. We may ask you to voluntarily complete surveys in order to improve our services to you. Survey answers are confidential. If you do not wish to participate in a survey you are free to decline.</p>

    <h3>Obtaining Information</h3>

    <p>You have the right to apply for a copy of the information we hold about you and to have any inaccuracies corrected (we reserve the right to make a small charge to cover the cost of providing you with a copy of the information which we hold about you).</p>

    <h3>Law Enforcement</h3>

    <p>We fully co-operate with the police in identifying those who use our service for illegal activities. We reserve the right to report to the police any activities that we reasonably believe to be unlawful.</p>
  </div>
</div>